.headings{
    text-decoration: underline;
}
/* .Group1{
    position: absolute;
width: 1643px;
height: 661px;
left: 38px;
top: 47px;
} */
/* .Rectangle1{
    box-sizing: border-box;} */
/* 
 position: absolute;
width: 1643px;
height: 648.57px;
left: 38px;
top: 47px;  */

/* border: 2px solid #000000;
}  */
/* group2 */
/* .Group2{
    position: absolute;
width: 1051px;
height: 894px;
left: 58px;
top: 742px;

}
/* do image css */
/* .dog{
    position: absolute;
width: 1051px;
height: 762px;
left: 58px;
top: 874px;

} */
